@font-face {
  font-family: 'Beauty Editorial';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/beauty-0.ttf) format('truetype');
}
@font-face {
  font-family: 'Beauty Editorial';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/beauty-1.ttf) format('truetype');
}
@font-face {
  font-family: 'Beauty Editorial';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/beauty-2.ttf) format('truetype');
}
@font-face {
  font-family: 'Beauty Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/beauty-3.ttf) format('truetype');
}
@font-face {
  font-family: 'Beauty Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/beauty-4.ttf) format('truetype');
}
@font-face {
  font-family: 'Beauty Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/beauty-5.ttf) format('truetype');
}
@font-face {
  font-family: 'Beauty Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/beauty-6.ttf) format('truetype');
}
